# NAME - ASWIN RAJ
#EMAIL - aswinraj302002@gmail.com

# KPMG TASK 1.3

**IMPORT THE DATASET**

In [1]:
import pandas as pd
df = pd.read_csv('CustomerAddress.csv')

In [4]:
df = df.iloc[:, :6]

In [5]:
df

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

**Accuracy**

In [6]:
accuracy_check = df.apply(lambda x: pd.to_numeric(x, errors='coerce').notnull().all())
print("Accuracy:")
print(accuracy_check)

Accuracy:
customer_id            True
address               False
postcode               True
state                 False
country               False
property_valuation     True
dtype: bool

**Completeness:**

In [7]:
missing_values_check = df.isnull().any()
print("Completeness - Missing Values:")
print(missing_values_check)

Completeness - Missing Values:
customer_id           False
address               False
postcode              False
state                 False
country               False
property_valuation    False
dtype: bool

**Consistency**

In [8]:
duplicate_check = df.duplicated().any()
print("Consistency - Duplicate Records:")
print(duplicate_check)

Consistency - Duplicate Records:
False

**Relevancy**

In [9]:
relevancy = {
    'customer_id': list(df['customer_id'].unique()),  
    'address': [],  
    'postcode': [],  
    'state': [], 
    'country': [],  
    'property_valuation': [],  
}
relevancy_check = df.apply(lambda x: x.isin(relevancy[x.name])).all()
print("Relevancy:")
print(relevancy_check)

Relevancy:
customer_id            True
address               False
postcode              False
state                 False
country               False
property_valuation    False
dtype: bool

**Validity**

In [10]:
validity = {
    'customer_id': list(df['customer_id'].unique()), 
    'address': [],  
    'postcode': [],  
    'state': [],  
    'country': [],  
    'property_valuation': [], 
}

validity_check = df.apply(lambda x: pd.Series(x).isin(validity[x.name])).all()
print("Validity:")
print(validity_check)

Validity:
customer_id            True
address               False
postcode              False
state                 False
country               False
property_valuation    False
dtype: bool

**Uniqueness:**

In [11]:
unique_check = df['customer_id'].nunique() == df.shape[0]
print("Uniqueness - customer_id:")
print(unique_check)

Uniqueness - customer_id:
True