# NAME - ASWIN RAJ
#EMAIL - aswinraj302002@gmail.com

# TASK 1.2

**Import libraries:**

In [1]:
import pandas as pd

**Read the CSV file into a DataFrame:**

In [2]:
df_transactions = pd.read_csv('Transactions.csv')

**Check the first few rows of the DataFrame to get an overview:**

In [6]:
df_transactions = df_transactions.iloc[:, :13] 
print(df_transactions.head())

   transaction_id  product_id  customer_id transaction_date online_order  \
0               1           2         2950         25-02-17        False
1               2           3         3120         21-05-17         True
2               3          37          402         16-10-17        False
3               4          88         3135         31-08-17        False
4               5          78          787         01-10-17         True

  order_status           brand product_line product_class product_size  \
0     Approved           Solex     Standard        medium       medium
1     Approved   Trek Bicycles     Standard        medium        large
2     Approved      OHM Cycles     Standard           low       medium
3     Approved  Norco Bicycles     Standard        medium       medium
4     Approved  Giant Bicycles     Standard        medium        large

   list_price standard_cost  product_first_sold_date
0       71.49        $53.62                  41245.0
1     2091.47       $388.92                  41701.0
2     1793.43       $248.82                  36361.0
3     1198.46       $381.10                  36145.0
4     1765.30       $709.48                  42226.0

**Perform accuracy checks for each column**

In [8]:
accuracy_check = df_transactions.apply(lambda x: pd.to_numeric(x, errors='coerce').notnull().all())
print("Accuracy:")
print(accuracy_check)

Accuracy:
transaction_id              True
product_id                  True
customer_id                 True
transaction_date           False
online_order               False
order_status               False
brand                      False
product_line               False
product_class              False
product_size               False
list_price                  True
standard_cost              False
product_first_sold_date    False
dtype: bool

**Consistency**

In [9]:
duplicate_check = df_transactions.duplicated().any()
print("Consistency - Duplicate Records:")
print(duplicate_check)

Consistency - Duplicate Records:
False

**Completeness**

In [10]:
missing_values_check = df_transactions.isnull().any()
print("Completeness - Missing Values:")
print(missing_values_check)

Completeness - Missing Values:
transaction_id             False
product_id                 False
customer_id                False
transaction_date           False
online_order                True
order_status               False
brand                       True
product_line                True
product_class               True
product_size                True
list_price                 False
standard_cost               True
product_first_sold_date     True
dtype: bool

**Currency**

In [12]:
currency_check = pd.to_datetime(df_transactions['transaction_date']).max()
current_date = pd.to_datetime('today') 
is_current = currency_check >= current_date
print("Currency:")
print(is_current)

Currency:
False

**Relevancy check**

In [13]:
relevancy = {
    'transaction_id': list(df_transactions['transaction_id'].unique()),
    'product_id': list(df_transactions['product_id'].unique()),
    'customer_id': list(df_transactions['customer_id'].unique()),
    'transaction_date': [],  
    'online_order': [True, False],  
    'order_status': [],  
    'brand': list(df_transactions['brand'].unique()),
    'product_line': [],  
    'product_class': [],  
    'product_size': [],  
    'list_price': [],  
    'standard_cost': [],  
    'product_first_sold_date': []  
}
relevancy_check = df_transactions.apply(lambda x: x.isin(relevancy[x.name])).all()
print("Relevancy:")
print(relevancy_check)

Relevancy:
transaction_id              True
product_id                  True
customer_id                 True
transaction_date           False
online_order               False
order_status               False
brand                       True
product_line               False
product_class              False
product_size               False
list_price                 False
standard_cost              False
product_first_sold_date    False
dtype: bool

**Validity check**

In [14]:
validity = {
    'transaction_id': list(df_transactions['transaction_id'].unique()),
    'product_id': list(df_transactions['product_id'].unique()),
    'customer_id': list(df_transactions['customer_id'].unique()),
    'transaction_date': [],  
    'online_order': [True, False],  
    'order_status': [],  
    'brand': list(df_transactions['brand'].unique()),
    'product_line': [],  
    'product_class': [],  
    'product_size': [],  
    'list_price': [],  
    'standard_cost': [],  
    'product_first_sold_date': []
}
validity_check = df_transactions.drop('transaction_id', axis=1).apply(lambda x: pd.Series(x).isin(validity[x.name])).all()
print("Validity:")
print(validity_check)

Validity:
product_id                  True
customer_id                 True
transaction_date           False
online_order               False
order_status               False
brand                       True
product_line               False
product_class              False
product_size               False
list_price                 False
standard_cost              False
product_first_sold_date    False
dtype: bool

**Uniqueness check**

In [15]:
uniqueness_check = df_transactions.duplicated().any()
print("Uniqueness:")
print(not uniqueness_check)

Uniqueness:
True